body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 8px;
}

p {
    color: red;
    text-align: center;
}