<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp2</title>
    <link rel="stylesheet" href="views/chat/chat.css">
    <script src="views/chat/chat.js" defer type="module"></script>
</head>
<body>
    <aside>
        <header>
            <img src="assets/imgs/fotodeusuario.jpeg">
            <p id="username">
                <!--Inserido via JS-->
            </p>
        </header>

        <div id="users">
            <!--Inserido via JS-->
        </div>
    </aside>

    <main>
        <header>
            <img src="assets/imgs/leftarrow.png" id="quit-chat">
            <img id="chat-img">
            <p id="chat-username">
                <!--Inserido via JS-->
            </p>
        </header>

        <div id="messages">
            <!--Inserido via JS-->
        </div>

        <div id="write-send">
            <input type="" maxlength="280">
            <button id="send">mandar</button>
        </div>
    </main>
</body>
</html>