<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp2</title>
    <link rel="stylesheet" href="views/chat/chat.css">
    <script src="views/chat/chat.js" defer type="module"></script>
</head>
<body>
    <aside>
        <header>
            <img src="../../assets/imgs/fotodeusuario.jpeg">
            <p id="self-username"></p>
        </header>
        <div id="users">
            <!--Inserido via JS-->
        </div>
    </aside>

    <main>
        <header>
            <img src="../../assets/imgs/fotodeusuario.jpeg">
            <p id="chat-username"></p>
        </header>

        <div id="messages">
            <!--
            <div class="message">
                <p class="username">Luis</p>
                <p class="content">oi </p>
            </div>

            <div class="message self">
                <p class="username">sophia</p>
                <p class="content">oi </p>
            </div>
            -->
        </div>

        <div id="write-send">
            <input type="">
            <button id="send">mandar</button>
        </div>
    </main>
</body>
</html>