img{
    width: 48px;
    border-radius: 9999px;
}

body{
    background-color: rgb(172, 148, 195);
    display: flex;
    overflow: hidden;
    margin: 0;
}

aside{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 400px;
}

aside > header{
    background-color: rgb(91, 33, 145);
    display: flex;
    gap: 8px;
    padding: 8px;
}

aside > #users{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: calc(100vh - 66.4px);
    overflow-y: scroll;
    margin-right: 4px;
}

aside > #users > .user{
    cursor: pointer;
    display: flex;
    padding: 8px;
    gap: 8px;
    border-bottom: 1px solid black;
    order: -1;
}

main{
    display: none;
    flex-direction: column;
    flex: 1;
}

main > header{
    display: flex;
    gap: 8px;
    padding: 8px;
    background-color: rgb(60, 22, 95);
}

main > #messages{
    padding: 8px;
    background-color: rgb(172, 148, 195);
    overflow-y: scroll;
    flex: 1;
}

main > #messages .message > p{
    margin: 0;
}

main > #messages .self > .username{
    text-align: right;
}

main > #messages .message > .content{
    background-color: aliceblue;
    padding: 4px 8px;
    border-radius: 9999px;
}

main > #messages .message{
    justify-self: flex-start;
}

main > #messages .self{
    justify-self: flex-end;
}

main > #write-send{
    display: flex;
    padding: 8px;
    gap: 8px;
    background-color: rgb(69, 29, 106);
    height: 32px;
}

main > #write-send > input{
    flex: 1;
    border-radius: 9999px;
    border: 0;
    outline: none;
    padding-left: 8px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(179, 179, 179);
}