<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp2</title>
    <link rel="stylesheet" href="./views/login/login.css">
    <script src="./views/login/login.js" type="module" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    <div class="stars">
        <div class="star small"></div>
        <div class="star medium"></div>
        <div class="star large"></div>
        <div class="star small"></div>
        <div class="star medium"></div>
        <div class="star large"></div>
        <div class="star small"></div>
        <div class="star medium"></div>
        <div class="star small"></div>
        <div class="star medium"></div>
        <div class="star large"></div>
    </div>
    
    <main>
        <h1>Login</h1>
        <input type="text" id="username" placeholder="Usuário" maxlength="25">
        <input type="text" id="password" placeholder="Senha" maxlength="25">
        <button id="login-button">Fazer Login</button>
        <a href="/register">criar conta</a>
    </main>
    <p id="warning"></p>
</body>
</html>